body{
    margin: 0;
    padding: 0;
    background-color:#e8e1d1;
}
.container{
    background: url(../ASSETS/bg-body.jpg) center top repeat-x;
}

.back{
    margin: 0 auto;
    width: 1000px;

}
header{
    text-align: center;
}
.logo {
    padding-top: 68px;
}
.navbar ul li {
    list-style: none;
    display: inline-flex;
    margin-right: 1%;
    font-family: Arial, Helvetica, sans-serif;
    /* border: 1px solid wheat; */
    font-size: 14px;
    line-height: 32px;
    box-shadow: 1px 1px 3px 0px #857f72;
}
.navbar ul li a {
    padding: 0px 11px;
    color: #164773;
    background-color: #f6efe5;
    text-decoration: none;
}
section {
    width: 1000px;
    margin: 0 auto;
    /* text-align: center; */
}


.navbar ul li a:hover {
    color: #f6efe5;
    background: #154773;
}

.content {
    background-color: #f6efe5;
    padding: 3px 20px;
    border: 1px solid #e0dacc;

}
.content p {
    color: #7c6b4f;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 24px;
}

.writer {
    font-size: 16px !important;
    font-weight: bold;
    font-family: "Times New Roman", Times, serif !important;
    margin-bottom: 30px !important;
}
.content h1 {
    color: #0d4d79;
    margin-bottom: 28px;
}

.ct {
    display: flex;
    align-items: flex-start;
}
.ct img {
    width: 50%;
}
.ct p {
    margin-top: -4px;
    margin-left: 21px;
    text-align: justify;
}
.card {
    /* border: 1px solid; */
    width: 22%;
    /* float: left; */
    display: inline-grid;
    margin-right: 27px;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
}
.card h1 {
    color: #0d4d79;
    font-size: 20px;
    text-shadow: 1px 1px white;
}
.card p {
    color: #7c6b4f;
    margin: 4px 0px;
    font-size: 14px;
    line-height: 24px;
}
.card img {
    width: 100%;
}
.cardcontent {
    /* border: 1px solid; */
    height: 276px;
    background: #fef7ed;
    box-shadow: 0px 0px 3px 1px #c2b9a7;
    padding: 9px;
}
.familyimg{
    position: absolute;
    bottom: 0;
    left: 0;
}
a.link {
    font-size: 12px;
    text-decoration: none;
    color: #a29c8e;
    /* float: right; */
    display: block;
    bottom: 0;
    padding: 7px;
    position: absolute;
    right: 0px;
    /* text-align: right; */
}

footer {
    background: url(../ASSETS/bg-footer.jpg);
    padding: 8px;
    margin-top: 5%;
    text-align: center;
    color: #988878;
}
footer a {
    color: #988878;
    text-decoration: none;
}
footer a:hover {
    text-decoration: underline;
}
.content.section {
    padding: 0px 0px;
}

.content.section h1 {
    height: 77px;
    font-size: 28px;
    font-family: "Times New Roman", Times, serif;
    line-height: 28px;
    margin-top: 28px;
    margin-bottom: 0px;
    text-align: center;
    text-shadow: 1px 1px white;
}
.content.section ul {
    padding-left: 0px;
    text-align: center;
    margin-top: 0px;
    margin-left: 24px;
}
.content.section ul li {
    list-style: none;
    width: 30%;
    display: inline-grid;
    margin-right: 13px;
    padding-right: 14px;
    position: relative;
    height: 100%;
    background: url(../ASSETS/border-vertical.gif) repeat-y right top;
}
.content.section img {
    width: 100%;
    box-shadow: 0px 0px 3px 1px #c5c5c5;
}
.content p {
    color: #7c6b4f;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 24px;
    text-align: justify;
    margin-bottom: 0px;
    margin-top: 0px;

}
.vl {
    border-left: 6px solid green;
    height: 500px;
}
.content.section h4 {
    color: #3e3524;
    font-size: 16px;
    text-align: left;
    margin-bottom: 0px;

}
.content.section ul li:last-child {
    border-right: none;
    box-shadow: none;
}
.content.section li a {
    text-decoration: none;
    background: url(../ASSETS/bg-readmore.gif) center no-repeat;
    font-size: 14px;
    text-align: center;
    width: 100%;
    line-height: 24px;
    color: #69614a;
    display: inline-grid;
    align-items: center;
}
.content.section.tips li {
    width: 45%;
}

.content.section.tips li:last-child img {
    margin-top: -27px;
}
img.girl {
    margin-bottom: 14%;
}
p.firstp {
    margin-bottom: 35%;
}
p.secp {
    margin-bottom: 43%;
}
p.p2 {
    margin: 39px 0px;
}
a.read1 {
    margin-top: 40px;
}
a.read2 {
    margin-top: 40px;
}
.content.section.tips img {
    margin-bottom: 32px;
}
li.point p:before {
    content: '．';
    color: #7b6c4e;
}
.blog div {
    display: inline-table;
    padding-bottom: 28px;
}


.blogP {
    width: 69%;
    /* border-right: 1px solid #7b6c4e; */
    padding-right: 34px;
    background: url(../ASSETS/border-vertical.gif) repeat-y right top;
}
.list {
    margin-left: 10px;
    color: #7c6b4f;
    position: absolute;
    top: 341px;
}
.list h4 {
    margin-left: 16px;
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 16px;
    line-height: 28px;
}
.list ul {
    margin: 7px 0px 44px 0px;
    font-size: 16px;
}
.about p:last-child {
    margin-bottom: 52px;
}

table{
    color: #7c6b4f;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    margin: 39px 0px;
}
