@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Cabin+Sketch:wght@700&family=Lobster&family=Magra&display=swap');
*{
    margin: 0;
    padding: 0;

}
body{
background-color: black;
}
.menu{
    background: url(../ASSETS/images/bg.jpg) center 0 no-repeat;
}

.container{
    color: white;
    margin: 0 auto;
    width: 1000px;
}
header{
    background: url(../ASSETS/images/header.jpg) right 0 no-repeat;
    height: max-content;

}
.section1{
    background: url(../ASSETS/images/slider-bg.png) center 0 no-repeat;
    background-size: 100%;
}
.section2 {
    /* width: max-content; */
    display: inline-flex;
}

.swiper {
    width: 100%;
    height: 100%;
  }

  .swiper-slide {
    background-position: center;
    background-size: cover;
  }

  .swiper-slide img {
    display: block;
    width: 91%;
    margin: 5% 4.5% auto;
}

header div img {
    margin: 17px 50px 29px;
}

.navbar ul {
    height: 49px;
    background-image: url(../ASSETS/menu-bg.png);
    font-family: 'Cabin Sketch';
    text-transform: uppercase;
    /* margin: 0 auto; */
    text-align: center;
    padding-bottom: 6%;
}

.navbar ul li {
    text-align: center;
    list-style: none;
    padding: 15px 15px;
    background: url(../ASSETS/menu-divider-bg.png) no-repeat right;
    display: inline-block;
}

.navbar ul a{
    color: #000000;
    text-decoration: none;
    font-size: 36px;
}
.navbar ul li:hover  {
    background: url(../ASSETS/menu-hover-bg.png) repeat-x;
    cursor: pointer;
    
}
.navbar ul li:hover a  {
    color: white;
    
}

article {
    padding: 20px;
    float: left;
    width: 31%;
    height: max-content;
    border-radius: 10px;
}

aside {
    padding: 20px;
    float: right;
    width: 70%;
    height: max-content;


    font-size: 13px;
}
.link {
    color: #dd0a00;
    text-decoration: none;
}
.back {
    background-color: white;
}
.gallery {
    color: black;
    background: url(../ASSETS/images/block-1-shadow.png) no-repeat;
    background-size: 100%;
}
.gallery p {
    font-size: 14px;
    margin: 0px 25px;
    line-height: 21px;
    font-family: Georgia, "Times New Roman", Times, serif;
}
.head h1 {
    font-size: 40px;
    font-family: 'Cabin Sketch';
    margin-bottom: 18px;
}


.head p {
    font-size: 18px;
    font-family: Georgia, "Times New Roman", Times, serif;
    font-style: italic;
    line-height: 25px;
    color: white;
}
.head {
    margin: 19px 0px 35px 36px;
}
article h1:first-child{
    font-size: 40px;
}

article h1 {
    font-size: 40px;
    font-family: 'Cabin Sketch';
    margin-top: 40px;
}

article h3 {
    font-family: Georgia, "Times New Roman", Times, serif;
    font-style: italic;
    font-size: 18px;
    margin: 16px 0px;
    line-height: 25px;
}
article p {
    font-size: 14px;
    line-height: 22px;
    color: #838180;
}

article h2 {
    font-size: 30px;
    font-family: 'Cabin Sketch';
    color: #dd0a00;
    margin-top: 24px;
}

.gallery div.box {
    display: inline-flex;
    flex-direction: column;
    margin: 10px -7px 10px 22px;
    width: 45%;
}
.gallery div.box img {
    border: 1px solid #fff;
    padding: 10px;
    background: white;
    box-shadow: 0px 0px 3px 1px #cbcbcb;
}

.gallery h1 {
    font-size: 40px;
    font-family: 'Cabin Sketch';
    padding-top: 20px;
    margin-left: 23px;
    margin-bottom: 14px;
}

.box p {
    font-size: 16px;
    font-family: Georgia, "Times New Roman", Times, serif;
    font-style: italic;
    line-height: 25px;
    margin: 10px 10px;
}

.fullgallery {
    background: #80808026;
    text-align: center;
    padding: 20px;
    
}
.fullgallery a {
    color: #0072ff;
    text-decoration: none;
    font-size: 30px;
    font-family: 'Cabin Sketch';
}
.fullgallery a:hover {
    color: #b30800;
}

footer {
    text-align: center;
    margin-top: 16px;
}

footer p {
    font-size: 14px;
    color: #838180;
    line-height: 22px;
}

footer p a:first-child {
    color: rgb(85,26,139);
    text-decoration: none;
}

footer p a:last-child {
    color: rgb(221,10,0);
    text-decoration: none;
}
footer p a:last-child:hover {
    color: rgb(221,10,0);
    text-decoration: none;
}

.gallery div.box2 {
    display: inline-flex;
    align-items: center;
    margin: 16px 27px;
}
.gallery div.box2 img {
    border: 1px solid #fff;
    padding: 10px;
    background: white;
    box-shadow: 0px 0px 3px 1px #cbcbcb;
}
.list li::before {
    content: "\00BB";
    color: #0072ff;
}
.list li {
    list-style: none;
    margin-left: 25px;
    float: left;
    width: 276px;
}
.list ul {
    overflow: hidden;
    margin: 22px 0px;
}
.list ul li a {
    text-decoration: none;
    font-size: 14px;
    color: black;
    line-height: 22px;
    margin-left: 10px;
}
a.lia {
    color: #838180 !important;
}

a.lia:hover {
    color: #0071ff !important;
}

thead th {
    font-size: 14px;
    font-family: Georgia, "Times New Roman", Times, serif;
    line-height: 22px;
    text-align: left;
}

table.table {
    border-collapse: collapse;
    margin: 0 auto;
    width: 100%;
    font-family: Georgia, "Times New Roman", Times, serif;
}

tr {
    border-top: 1px solid #d2d2d2;
}
thead tr:first-child {
    border-top: none;
}
th, td {
    padding: 2% 0%;
    width: 25%;
}
table tr span {
    line-height: 20px;
    font-size: 13px;
}

 td span:nth-child(3){
    color: #b30800;
}
.divtable {
    padding: 23px;
}

.plan {
    overflow: hidden;
    margin-bottom: 19px;
}
.plan div {
    width: 50%;
    float: left;
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 14px;
}
.plan div h3 {
    margin-left: 25px;
}


label {
    font-size: 14px;
    margin: 16px;
    font-weight: bold;
    font-family: Georgia, "Times New Roman", Times, serif;
}
input {
    box-shadow: 0px 0px 4px 1px #bfbfbf;
    margin-bottom: 15px;
    border: none;
    height: 25px;
    margin-left: 17px;
    width: 55%;
}
textarea#message {
    margin-left: 4px;
    height: 500px;
    box-shadow: 0px 0px 4px 1px #bfbfbf;
    border: none;
    width: 68%;
    display: inline-table;
    margin-bottom: 15px;
}

article p span {
    display: block;
}

p.contact {
    width: 604px;
}

.swiper-button-next:after,.swiper-button-prev:after{
    content: none !important;
    width: 100px;
}
.next {
    /* background: url(../ASSETS/images/next.png) 0 bottom no-repeat; */
    /* padding-right: 108px; */
    position: absolute;
    top: -16px;
    right: 4px;
    display: block;
    width: 72px;
    height: 72px;
    background: url(../ASSETS/images/next.png) 0 bottom no-repeat;
    z-index: 99;
}

.prev {
    position: absolute;
    top: -18px;
    /* right: 4px; */
    left: 20px;
    display: block;
    width: 72px;
    height: 72px;
    background: url(../ASSETS/images/prev.png) 0 top no-repeat;
    z-index: 99;
}

.next:hover {
    background: url(../ASSETS/images/next.png) 0 top no-repeat;
}
.prev:hover {
    background: url(../ASSETS/images/prev.png) 0 bottom no-repeat;
}
.navbar ul a:hover{
    color: black !important;
}

/* @media screen and (max-width:1100px) {
    .container {
        width: 100%;  
        font-size: 5vmin;
    }

} */